.messages-container{
    background-color: white;
    margin-left:1.2rem;
    margin-bottom: 0.8rem;
    border-radius: 7px;
    width:27.45rem;
    border:2px solid rgb(194, 194, 194);
}
.guest-signature{
    text-align: right;
    margin-right: 0.7rem;
    margin-top:0.4rem;
    margin-bottom: 0.2rem;
}
.text-signature{
    font-weight: bold;
    font-family:serif;
    text-decoration: underline;
}
.by{
    margin-right:0.1rem;
    font-size:15px;
    opacity: 0.8;
}
.guest-message{
    margin-bottom:0.5rem;
    margin-left:0.7rem;
    font-family: monospace;
}